<%= form_with(model: league_session) do |form| %>
  <% if league_session.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(league_session.errors.count, "error")%> prohibited this session from being saved:</h2>

      <ul>
        <% league_session.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date class: "form-control" %>
  </div>
<% end %>